* {
    margin: 0;
    padding: 0;
}

a:hover {
    /* color: rgb(255, 0, 0);
    background-color: purple; */
    transition: color 2s, background-color 1s;
    /* define o tempo pra fazer a transição, podendo colocar mais de um atributo */
}

p {
    width: 20em;
    height: 20em;
    margin: 2em;
    box-shadow: 0 0 0.5em grey;
}

p:hover {
    box-shadow: 0 0 1em black;
    transition: box-shadow 1s;
}

div {
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    animation-name: aumentatamanho;
    /* nome da animação */
    animation-duration: 3s;
    /* duração da animação */
    animation-iteration-count: 5;
    /* cria um loop da animação com número inteiro ou atributo "infinite" */
}

@keyframes aumentatamanho {
    from{
        /* parte desses atributos para os do seletor abaixo durante a animação */
        font-size: 0.5em;
        color: darkorange;
        background-color: darkseagreen;
    }
    to{
        font-size: 1em;
        color: darkorchid;
        background-color: deepskyblue;
    }10%{
        color: red;
    }20%{
        color: purple;
    }50%{
        color: yellow;
    }
    /* pode-se estilizar a animação por porcentagem de tempo de duração */
}