<!DOCTYPE html>
<html>
    <head>
        <title>RAW</title>
        <meta charset = "utf-8">
        <link rel = "stylesheet" href = "principal.css">
    </head>
    <body>
        <h1>
            <img src = "logo.png">
        </h1>
        <figure>
                <img src = "destaque.png" id = "destaque">   
        </figure>
        <ul>
            <li><img src ="comida1.png"></li>
            <li><img src ="comida2.png"></li>
            <li><img src ="comida3.png"></li>
            <li><img src ="comida4.png"></li>
            <li><img src ="comida5.png"></li>
            <li><img src ="comida6.png"></li>
            <li><img src ="comida7.png"></li>
            <li><img src ="comida8.png"></li>
            <li><img src ="comida9.png"></li>
            <li><img src ="comida10.png"></li>
            <li><img src ="comida11.png"></li>
            <li><img src ="comida12.png"></li>
        </ul>
        <h2>O chef</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt libero accusamus minus, ab dolor a ducimus molestias cumque veniam incidunt dolorum autem, repudiandae unde? Soluta dolor nemo eligendi minus doloribus.
        </p>
    </body>
</html>