*{
    font-family: Garamond, Georgia;
}

body {
    background-color: #fff9f9;
    margin: 0;
}

h1 {
    text-align: center;
}

figure {
    text-align: center;
}

.destaque {
    border-top: 5px solid #F5BD26;
    border-bottom: 5px solid #F5BD26;
}

li {
    display: inline-block;
    padding: 10px;
}

ul {
    list-style-type: none;
    width: 72em;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-style: Italic;
    border-bottom: 5px solid #F9F1DC;
}

p {
    text-align: center;
    width: 25em;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 30px;
}

address {
    text-align: center;
    font-style: Italic;
    background-color: white;
    padding: 1.5em;
}
