* {
    margin: 0;
    padding: 0;
}

.hd1 {
    border-bottom: 5px solid white;
    margin-bottom: 2em;
    padding: 2em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 41, 41);
    color: white;
}

.hd2 {
    text-align: center;
    border-bottom: 5px solid white;
    margin-bottom: 2em;
    padding: 2em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 41, 41);
    color: white;
}

.h2index {
    padding: 10px;
}

.h2jogadores {
    padding-bottom: 10px;
}

body {
    background-color: rgb(37, 37, 173);
}

.ol1 {
    text-align: center;
}

.li1 {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    list-style-type: none;
    background-color: red;
    color: white;
    font-size: large;
}
.li2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px;
}

.h41 {
    padding-bottom: 10px;
}

.menu {
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10%;
    background-color: red;
    color: white;
}

.menu:hover {
    background-color: white;
    color: black;
}

.figure_jogadores {
    max-width: 80em;
    padding-top: 2em;
    margin: 0 auto;
}

.img_jogadores {
    border: 3px solid white;
    border-radius: 10%
}

.h3campeoes {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-bottom: 10px;
}

.li3 {
    padding: 5px;
    margin-bottom: 2em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.h42 {
    padding-bottom: 10px;
}

.figure_campeoes {
    text-align: center;
}

.figure_campeoes1, .figure_campeoes2 {
    padding-right: 2em;
    padding-top: 2em;
    display: inline-block;
}

.img_campeoes {
    border: 5px solid white;
    border-radius: 10%
}

.table_campeoes {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    max-width: 30em;
    margin: 2em auto;
    border-collapse: collapse;
    border: 5px solid white;
}

.table_campeoes tr:nth-child(odd) {
    background-color: rgb(13, 26, 107);
}

.table_campeoes tr:nth-child(1) {
    background-color: rgb(37, 37, 173);
}

.table_campeoes tr:nth-child(2) {
    background-color: green;
}

.table_campeoes tr:nth-child(3) {
    background-color: purple;
}
.table_campeoes tr:nth-child(4) {
    background-color: rgb(180, 199, 12);
}

caption {
    padding-bottom: 0.7em;
}