<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Shift</title>
</head>
<body>
    <header>
        <h1>SHIFT</h1>
        <h2>1o Encontro de UX no IFRN</h2>
    </header>
    <main>
        <nav class="area-a">
            <ol>
                <li><a href="">Inscrições</a></li>
                <li><a href="">Programação</a></li>
                <li><a href="">Palestrantes</a></li>
                <li><a href="">Organização</a></li>
                <li><a href="">Contato</a></li>
            </ol>
        </nav>
        <p class="area-b">
            O evento será organizado <b>Cillum</b> singulis voluptateo te <b>enim</b> cillum adaliquip, <b>incididunt</b>.<br>
            <a href="">Ler mais</a>
        </p>
        <ul class="area-c">
            <li>Palestras</li>
            <li>Workshops</li>
            <li>Minicursos</li>
            <li>Estudos de casos</li>
            <li>Prêmios</li>
        </ul>
        <section class="area-d">
            <h2>Programação</h2>
            <table>
                <tr>
                    <td rowspan="2">Dia 03/06</td>
                    <td>08:00</td>
                    <td>Abertura</td>
                </tr>
                <tr>
                    <td>11:00</td>
                    <td>Sorteios</td>
                </tr>
                <tr>
                    <td rowspan="2">Dia 04/06</td>
                    <td>08:00</td>
                    <td>Palestra de Andre Gurgel</td>
                </tr>
                <tr>
                    <td>11:00</td>
                    <td>Sorteios</td>
                </tr>
            </table>
        </section>
        <section class="area-e">
            <h2>Inscrição</h2>
            <form>
                <input type="text" placeholder="Nome" id="nome"><br>
                <input type="text" placeholder="E-mail" id="email"><br>
                <input type="text" placeholder="Celular" id="celular"><br>
                <input type="checkbox" id="select">
                <span>Aluno do IF</span><br>
                <input type="submit" value="Enviar" id="enviar">
            </form>
        </section>
        <section class="area-f">
            <h2>Organização</h2>
            <p>Professores da DIATINF/CNAT/IFRN:</p>
            <ul>
                <li>Profa. Alyana Macêdo</li>
                <li>Profa. Danielle Freitas</li>
            </ul>
        </section>
        <section class="area-g">
            <p>Larissa Fernandes</p>
        </section>
        <section class="area-h">
            <p>Amanda Freire</p>
        </section>
        <section class="area-i">
            <p>Henrique Almeida</p>
        </section>
        <section class="area-j">
            <p>Natália Lima</p>
        </section>
    </main>
    <footer>
        <p>Desenvolvido por IFRN.</p>
    </footer>
</body>
</html>