* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    height: 6em;
    padding: 2em;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 1.5em;
    background-image: linear-gradient(to left,#7292A6, #224459);
    
}

h1, h2 {
    font-family: 'Roboto Mono', monospace;
}

header h1 {
    font-size: 2.5em;
    padding-top: 0.3em;
}

main {
    width: 100%;
    height: 100%;
    gap: 2em;
    display: grid;
    grid-template-areas:
    "a b d d h"
    "a c e j i"
    "a g e f f";
    grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr 1fr;
    grid-template-rows: 20em 20em 20em;
    gap: 1.5em;
}

footer {
    height: 13em;
    margin-top: 1.5em;
    background-color:#224459;
}

footer p {
    color: white;
    font-size: 1.1em;
    text-align: center;
    padding-top: 5.5em;

}

b {
    color: rgb(19, 19, 138);
}

nav {
    background-color: #C6D1D9;
}

nav ol {
    padding: 2em;
    list-style-type: none;
}

nav li {
    padding-bottom: 1em;
}

li a {
    color: #4A798D;
    font-size: 2em;
    text-decoration: none;
}


p a {
    color: black;
    border: 1px solid black;
    padding: 5px;
    text-decoration: none;
}

.area-a {
    grid-area: a;
}

.area-b {
    grid-area: b;
    background-color: #ECECEC;
}

.area-b p {
    margin: 0 auto;
    max-width: 12em;
    font-size: 1.1em;
    padding-top: 3em;
}

.area-c {
    grid-area: c;
    background-color: #ECECEC;
}

.area-c ul {
    padding: 4em;
}

.area-c li {
    font-size: 1.1em;
    padding-bottom: 1em;
}

.area-d {
    grid-area: d;
    background-color: #ECECEC;
}

.area-d h2 {
    padding: 1.3em;
    padding-top: 2em;
}

.area-d table {
    margin: 0 2em;
}

.area-e {
    grid-area: e;
    background-color: #ECECEC;
}

.area-e h2 {
    padding: 1.3em;
    padding-top: 2em;
}

.area-e form {
    margin: 0.5em 2em;
}

.area-e h2 {
    padding-bottom: 1em;
}

.area-f {
    grid-area: f;
    background-color: #ECECEC;
}

.area-f h2 {
    padding: 1.3em;
    padding-top: 2em;
}

.area-f p {
    font-size: 1.1em;
    padding-left: 2em;
}

.area-f li {
    font-size: 1.1em;
    margin-left: 3em;
    padding-top: 1em;
}



.area-g {
    grid-area: g;
    background-image: url(palestrantes/ellen.jpg);
    background-position: -60px -30px;
    filter: gray 80%;
}

.area-g div {
    height: 5em;
    margin-top: 5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.area-g p {
    text-align: center;
    font-size: 1.1em;
    padding-top: 1.7em;
}

.area-h {
    grid-area: h;
    background-image: url(palestrantes/amanda.jpg);
}

.area-h div {
    height: 5em;
    margin-top: 5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.area-h p {
    text-align: center;
    font-size: 1.1em;
    padding-top: 1.7em;
}

.area-i {
    grid-area: i;
    background-image: url(palestrantes/henrique.jpg);
}

.area-i div {
    height: 5em;
    margin-top: 5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.area-i p {
    text-align: center;
    font-size: 1.1em;
    padding-top: 1.7em;
}

.area-j {
    grid-area: j;
    background-image: url(palestrantes/georgia.jpg);
}

.area-j div {
    height: 5em;
    margin-top: 5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.area-j p {
    text-align: center;
    font-size: 1.1em;
    padding-top: 1.7em;
}

table {
    text-align: center;
    border-collapse: collapse;
}

td {
    border: 3px solid white;
    padding: 5px;
    padding-left: 3em;
    padding-right: 4em;
    font-size: 1.1em;
}

#nome, #email, #celular, #select {
    margin-bottom: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 6em;
    border: 2px solid black;
}

#enviar {
    margin: 1em 0 2em 2em;
    width: 15em;
    height: 3em;
    color: rgba(146, 140, 140, 0.623);
    background-color: black;

}